@media screen and (min-width : 770px) and (max-width : 1024px){
   .menu-top{
     display:table-row !important;
  }
  .vertical_button{
    display:none !important;
  }
  .menu-left{
    display: block !important;
  }
  
}

@media screen and (min-width : 769px) and (max-width : 801px){
  html, body {
    min-width: 100%;
    overflow-x: hidden;
  }
  .header {
    width: 100%;
  }
  .logo img {
    width: 100%;
    height: 180px;
  }
  .left-td {
    width: 20%;
  }
  .left-menu {
    width: 100%;
  }
  .NivoSzakiSlider .nivoSlider {
    width: 90%;
    float: left;
    margin-bottom: 55px !important;
  }
  .kontentik {
    width: 95%;
  }
  #material_table {
    width: 80%;
  }
  .item-page img {
    max-width: 100% !important;
   }
   .telo {
    width: 100%;
  }
  .custom_telefon {
    width: 33%;
  }
  .custom_adress {
    width: 33%;
  }
  
}
@media screen and (min-width : 601px) and (max-width : 768px){
  html, body {
    min-width: 100%;
    overflow-x: hidden;
  }
  .header {
    width: 100%;
  }
  .logo img {
    width: 100%;
    height: 180px;
  }
  .left-td {
    width: 20%;
  }
  .left-menu {
    width: 100%;
  }
  .NivoSzakiSlider .nivoSlider {
    width: 90% !important;
    float: left;
    margin-bottom: 55px !important;
  }
  .kontentik {
    width: 95%;
  }
  #material_table {
    width: 80%;
  }
  .item-page img {
    max-width: 100% !important;
   }
   .telo {
    width: 100%;
  }
  .custom_telefon {
    width: 33%;
  }
  .custom_adress {
    width: 33%;
  }
  .obolochka {
    overflow-y: hidden;
  }
  .telo {
    padding-right: 0px;
  }
  .menu-top {
    display: none;
    list-style-type: none;
    max-width: 100%;
    min-width: 100%;
}
  
  
/*начало стилей гамбургера горизотнтального*/
.head_button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: right;
    display:block;
}
.vertical_button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: left;
    display:block;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  bottom: -4px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.hamburger_vertical{
  background:none;
  position:absolute;
  top:0;
  left: 108px;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross_vertical{
  background:none;
  position:absolute;
  bottom: -4px;
  left: 108px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu-top{font-weight:bold; font-size:0.8em; width:100%; background-color: #2D699B; position:absolute; text-align:center;}
.menu-top ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu-top li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid; background-color: #2D699B;}
.menu-top li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu-top ul li a { text-decoration:none;  margin: 0px; color:#fff; z-index:999}
.menu-top ul li a:hover {  color: #fff; text-decoration:none;}
.menu-top a{text-decoration:none; color:white;}
.menu-top a:hover{text-decoration:none; color:white;}
.menu-top > li > span > a > span {
    float: left;
}
.menu-top > li:hover > span > a, .menu-top > li.active > span > a {
    background-image:none;
}
menu-top > li > span > ul > li.active, .menu-top > li > span > ul > li:hover {
    background-color: #2D699B;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
.head_button p {
    float: right;
    right: 45px;
    position: relative;
    color: white;
    bottom: 5px;
    z-index: 10;
}
.vertical_button p {
    float: left;
    left: 10px;
    position: relative;
    color: white;
    bottom: 5px;
    z-index: 10;
}
  
  /*конец стилей гамбургера горизотнтального*/
  .left-td {
    width: 5%;
  }
  iframe {
    display: none;
  }
}

@media screen and (min-width : 481px) and (max-width : 600px){
  html, body {
    min-width: 100%;
    overflow-x: hidden;
  }
  .header {
    width: 100%;
  }
  .logo img {
    width: 100%;
    height: 180px;
  }
  .left-td {
    width: 20%;
  }
  .left-menu {
    width: 100%;
  }
  .NivoSzakiSlider .nivoSlider {
    width: 90% !important;
    float: left;
    margin-bottom: 55px !important;
  }
  .kontentik {
    width: 95%;
  }
  #material_table {
    width: 80%;
  }
  .item-page img {
    max-width: 100% !important;
   }
   .telo {
    width: 100%;
  }
  .custom_telefon {
    width: 33%;
  }
  .custom_adress {
    width: 33%;
  }
  .obolochka {
    overflow-y: hidden;
  }
  .telo {
    padding-right: 0px;
  }
  .menu-top {
    display: none;
    list-style-type: none;
    max-width: 100%;
    min-width: 100%;
}
  
  
/*начало стилей гамбургера горизотнтального*/
.head_button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: right;
    display:block;
}
.vertical_button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: left;
    display:block;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  bottom: -4px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.hamburger_vertical{
  background:none;
  position:absolute;
  top:0;
  left: 108px;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross_vertical{
  background:none;
  position:absolute;
  bottom: -4px;
  left: 108px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu-top{font-weight:bold; font-size:0.8em; width:100%; background-color: #2D699B; position:absolute; text-align:center;}
.menu-top ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu-top li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid; background-color: #2D699B;}
.menu-top li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu-top ul li a { text-decoration:none;  margin: 0px; color:#fff; z-index:999}
.menu-top ul li a:hover {  color: #fff; text-decoration:none;}
.menu-top a{text-decoration:none; color:white;}
.menu-top a:hover{text-decoration:none; color:white;}
.menu-top > li > span > a > span {
    float: left;
}
.menu-top > li:hover > span > a, .menu-top > li.active > span > a {
    background-image:none;
}
menu-top > li > span > ul > li.active, .menu-top > li > span > ul > li:hover {
    background-color: #2D699B;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
.head_button p {
    float: right;
    right: 45px;
    position: relative;
    color: white;
    bottom: 5px;
    z-index: 10;
}
.vertical_button p {
    float: left;
    left: 10px;
    position: relative;
    color: white;
    bottom: 5px;
    z-index: 10;
}
  
  /*конец стилей гамбургера горизотнтального*/
  .left-td {
    width: 5%;
  }
  .right-td {
    padding-left: 10px;
  }
  .item-page {
    margin-right: 25px;
  }
  html, body, #mapDiv {
    display: none;
  }
  iframe {
    display: none;
  }
  
}
@media screen and (min-width : 241px) and (max-width : 480px){
  html, body {
    min-width: 100%;
    overflow-x: hidden;
  }
  .header {
    width: 100%;
  }
  .logo img {
    width: 100%;
    height: 180px;
  }
  .left-td {
    width: 20%;
  }
  .left-menu {
    width: 100%;
  }
  .NivoSzakiSlider .nivoSlider {
    width: 90% !important;
    float: left;
    margin-bottom: 55px !important;
  }
  .kontentik {
    width: 95%;
  }
  #material_table {
    width: 80%;
  }
  .item-page img {
    max-width: 100% !important;
   }
   .telo {
    width: 100%;
  }
  .custom_telefon {
    width: 33%;
  }
  .custom_adress {
    width: 33%;
  }
  .obolochka {
    overflow-y: hidden;
  }
  .telo {
    padding-right: 0px;
  }
  .menu-top {
    display: none;
    list-style-type: none;
    max-width: 100%;
    min-width: 100%;
}
  
  
/*начало стилей гамбургера горизотнтального*/
.head_button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: right;
    display:block;
}
.vertical_button {
    width: 50%;
    height: 50px;
    line-height: 50px;
    float: left;
    display:block;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  bottom: -4px;
  right:0;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.hamburger_vertical{
  background:none;
  position:absolute;
  top:0;
  left: 108px;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;

}
.cross_vertical{
  background:none;
  position:absolute;
  bottom: -4px;
  left: 108px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:2.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  
}
.menu-top{font-weight:bold; font-size:0.8em; width:100%; background-color: #2D699B; position:absolute; text-align:center;}
.menu-top ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu-top li {display: block;   padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid; background-color: #2D699B;}
.menu-top li:hover{display: block;    background:#181818; padding:15px 0 15px 0; border-bottom:#1d1f20 1px solid;}
.menu-top ul li a { text-decoration:none;  margin: 0px; color:#fff; z-index:999}
.menu-top ul li a:hover {  color: #fff; text-decoration:none;}
.menu-top a{text-decoration:none; color:white;}
.menu-top a:hover{text-decoration:none; color:white;}
.menu-top > li > span > a > span {
    float: left;
}
.menu-top > li:hover > span > a, .menu-top > li.active > span > a {
    background-image:none;
}
menu-top > li > span > ul > li.active, .menu-top > li > span > ul > li:hover {
    background-color: #2D699B;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
.head_button p {
    float: right;
    right: 45px;
    position: relative;
    color: white;
    bottom: 5px;
    z-index: 10;
}
.vertical_button p {
    float: left;
    left: 10px;
    position: relative;
    color: white;
    bottom: 5px;
    z-index: 10;
}
  
  /*конец стилей гамбургера горизотнтального*/
  .left-td {
    width: 5%;
  }
  .right-td {
    padding-left: 10px;
  }
  .item-page {
    margin-right: 25px;
  }
  .telefon-top {
    width: 215px;
  }
  iframe {
    display: none;
  }
  .footer {
   height: 215px;
  }
  .custom {
    width: 100%;
    top: -15px;
    position: relative;
  }
  .custom_telefon {
    width: 100%;
  }
  .custom_telefon {
    width: 100%;
    top: 40px;
    text-align: center;
  }
  .custom_adress {
    width: 100%;
    top: 130px;
    text-align: center;
  }
  
}
